.task{
    display: flex;
    font-size: 1.2rem;
    border: 1px solid lightgrey;
    padding: .3rem;
    
    
}

.btn-delete{
    visibility: hidden;
    color:white;
    background-color: red;
    border-radius: 10px;
    height: 30px;
}
.task:hover .btn-delete{
    visibility: visible;

}

.task .fa-circle{
    color: orange;

}
.task .fa-circle-check{
    color: green;

}
.box-task{
    display: flex;
    align-items: center;
}
.date{
    font-size: 11px;
    align-self: flex-end;
    flex-grow: 1;
    text-align: end;
    padding: 4px;
}
.message{
    flex-basis: 60%;
    flex-grow: 0;
}
    